<h1>All Zoos</h1>

<% @zoos.each do |zoo| %>
<ul>
   <li> <%= link_to zoo.name, zoo_path(zoo) %></li>
   <%# <li> <%= link_to zoo.location, location_zoos_path(zoo.location) %>
   
  </ul> 
   <% end %>

