<h1>All Zoos</h1>

<% @zoos.each do |zoo| %>
<ul>
   <li> <%= link_to zoo.name, zoo_path(zoo) %> - <%= link_to zoo.location.location, location_path(zoo.location)%></li>
    
   
  </ul> 
   <% end %>

