/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Montserrat:wght@300&display=swap");
body {
 background-color: #F6D887;
 color: black;
 text-align: center;
}

a {
    text-decoration: none;
    font-family: "Helvetica", Arial, Sans-Serif;
}

 .field_with_errors {
     color: white;
     background-color: red;
     display: inline-block;
 } 

 a:link {
     color: #035397;

 }

 a:hover {
     color: #7DEDFF;

 }

 a:visited {
     color: #035397;
 }

 h1 {
    font-family: 'Montserrat', sans-serif;
    color: #125D98;
 }

 h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3C4F65;
 }

 h3 {
    font-family: 'Montserrat', sans-serif;
    color: #125D98;
 }


 p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #543864;
 }

 ul {
    list-style-position: inside;
    text-align: center;
    color: #FD8C04;
  }

  